[Desktop Entry]
Type=Service
Actions=gtmsu_db;
X-KDE-Priority=TopLevel
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Icon=bookmarks

[Desktop Action gtmsu_db]
Exec=gtmsu db
Name=Change the default database location 
Icon=bookmarks
