[Desktop Entry]
Type=Service
Actions=gtmsu;
X-KDE-Priority=TopLevel
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Icon=bookmarks

[Desktop Action gtmsu]
Exec=gtmsu db
Name=Change the default database location 
Icon=bookmarks
