[Desktop Entry]
Type=Service
Actions=gtmsu;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Tag Options
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Icon=bookmarks

[Desktop Action gtmsu]
Exec=gtmsu edit
Name=Manage tags
Icon=bookmarks
