[Desktop Entry]
Type=Service
Actions=gtmsu_mount;
X-KDE-Priority=TopLevel
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Icon=bookmarks

[Desktop Action gtmsu_mount]
Exec=gtmsu mount
Name=Toggle tags virtual filesystem
Icon=bookmarks
